.container{
    width: 80%;
    text-align: center;
    margin: 20px auto;
}
.row{
    width:100%;
    display: grid;
    grid-template-columns:24% 24% 24% 24% ;
    justify-content: space-between;
}

.logo{
    width: 100%;
    max-height: 100px;
}
