.container{
    width: 60%;
    margin: 20px auto;
}
.row{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: space-between;
}

.col{
    width: 100%;
    border: 5px black;
    
}
.col img {
    border: 3px solid #000; /* Black border, change color as needed */
    width: 100%;
}
.col img:hover{
    border: 3px solid yellow;
}